@model IEnumerable<IssueTrackerV1.Models.Issue>
@{
    ViewBag.Title = "Issues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Issues</h2>
<p>
    @Html.ActionLink("New Issue", "New", "Issue", null, new{@class= "btn btn-primary"})
</p>

<table class=" table table-bordered table-hover">
    <thead>
        <tr>
            <th>Issue</th>
            <th>Genre</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var issue in Model)
        {
            <tr>
                <td>@Html.ActionLink(issue.Name, "Edit", "Issue", new {id = issue.Id}, null)</td>
                <td>@issue.Genre.Name</td>
            </tr>
        }
    </tbody>

</table>

