@model IssueTrackerV1.ViewModels.RandomIssueViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Issue.Name</h2>

@if (Model.Users.Count == 0)
{
    <p>No one has assigned to this issue yet</p>
}
else
{
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>
                @user.Name
            </li>
        }
    </ul>
}


