@model IEnumerable<IssueTrackerV1.Models.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
<table id ="users" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>User</th>
        <th>Membership Type</th>
        <th>Delete</th>

    </tr>
    </thead>
        
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#users").DataTable({
                ajax: {
                    url: "/api/User",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, user) {
                            return "<a href='/user/edit/" + user.id + "'>" + user.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class = 'btn-link js-delete' data-user-id=" + data + ">Delete</button>";
                        }
                    }
                ]

            });

            $("#users").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/user/" + $(this).attr("data-user-id"),
                                    method: "DELETE",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}

