@model dynamic
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id ="newRental">
    <div class="form-group">
        <lable>User</lable>
        <div class="tt-container">
            <input id="user" name="user" data-rule-validUser="ture" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <lable>Issue</lable>
        <div class="tt-container">
            <input id="issue" name="issue" data-rule-atLeastOneIssue="true" type="text" value="" class=" form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id ="issues" class ="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>

</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {

            var vm = {
                issueIds: []
            };

            var users = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/user?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#user').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'users',
                    display: 'name',
                    source: users
                }).on("typeahead:select",
                function(e, user) {
                    vm.userId = user.id;
                });

            var issues = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Issue?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#issue').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'issues',
                    display: 'name',
                    source: issues
                }).on("typeahead:select",
                function(e, issue) {
                    $("#issues").append("<li class ='list-group-item'>" + issue.name + "</li>");

                    $("#issue").typeahead("val", "");

                    vm.issueIds.push(issue.id);
                });

            $.validator.addMethod("validUser", function() {
                return vm.userId && vm.issueId !== 0;
            }, "Please select a valid user.");

            $.validator.addMethod("atLeastOneIssue", function () {
                return vm.issueIds.length >0;
            }, "Please select at least one Issue.");

            var validator = $("#newRental").validate({
                submitHandler: function () {

                    $.ajax({
                            url: "/api/newRentals",
                            method: "post",
                            data: vm
                        })
                        .done(function() {
                            toastr.success("Assignment Issues are successfully record");

                            $("#user").typeahead("val", "");
                            $("#issue").typeahead("val", "");
                            $("#issues").empty();

                            vm = { issueIds: [] };
                            validator.resetForm();
                        })
                        .fail(function() {
                            toastr.error("Error has occured");
                        });

                    return false;
                }
            });
        });
    </script>
}

