@model dynamic
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form>
    <div class="form-group">
        <lable>User</lable>
        <div class="tt-container">
            <input id="user" type="text" value="" class=" form-control" />
        </div>
        
    </div>

    <div class="form-group">
        <lable>Issue</lable>
        <div class="tt-container">
            <input id="issue" type="text" value=" " class=" form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id ="issues" class ="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>

</form>

@section scripts
{
    <script>
        $(document).ready(function() {

            var vm = {
                issueIds: []
            };

            var users = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/user?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#user').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'users',
                    display: 'name',
                    source: users
                }).on("typeahead:select", function(e, user) {
                    vm.userId = user.id;
            });

            var issues = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/Issue?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#issue').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'issues',
                    display: 'name',
                    source: issues
                }).on("typeahead:select", function(e, issue) {
                    $("#issues").append("<li class ='list-group-item'>" + issue.name + "</li>");

                    $("#issue").typeahead("val", "");

                    vm.issueIds.push(issue.id);
            });
        });
    </script>
}

